*{
    background-color: aliceblue;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.herder{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.conten-center{
    text-align: center;
}